<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تم إعادة تعيين كلمة المرور بنجاح</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
        line-height: 1.6;
      }
      h1 {
        color: #28a745;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #ffffff;
        background-color: #28a745;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
      }
      .rtl {
        direction: rtl;
        text-align: right;
      }
    </style>
  </head>
  <body class="rtl">
    <div>
      <h1>تم إعادة تعيين كلمة المرور بنجاح!</h1>
      <p>يمكنك الآن تسجيل الدخول باستخدام كلمة المرور الجديدة الخاصة بك.</p>
      <a
        href="<%= frontendUrl %>/login"
        style="
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          color: #ffffff;
          background-color: #28a745;
          text-decoration: none;
          border-radius: 5px;
          text-align: center;
          margin: 20px 0;
        "
        >تسجيل الدخول</a
      >
    </div>
    <p>أطيب التحيات،<br />الاختبارات الرقمية</p>
  </body>
</html>
