<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Successfully</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
        line-height: 1.6;
        direction: ltr;
        text-align: right;
      }
      h1 {
        color: #28a745;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #ffffff;
        background-color: #28a745;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Password Reset Successfully!</h1>
      <p>You can now log in using your new password.</p>
      <a
        href="<%= frontendUrl %>/login"
        style="
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          color: #ffffff;
          background-color: #28a745;
          text-decoration: none;
          border-radius: 5px;
          text-align: center;
          margin: 20px 0;
        "
        >Log In</a
      >
    </div>
    <p>
      Best regards,<br />
      Digital Tests
    </p>
  </body>
</html>
